@mixin flex($v: null, $h: null, $w: null, $a: null) {
    display: flex;
    justify-content: $h;
    align-items: $v;
    flex-wrap: $w;
    align-content: $a;
  }
  
  @mixin font($s: null, $c: null, $lh: null, $w: null, $ta: null) {
    font-size: $s;
    font-weight: $w;
    color: $c;
    line-height: $lh;
    text-align: $ta;
  }
  
  @mixin box($h: null, $w: null, $d: null, $o: null, $p: null) {
    position: $p;
    display: $d;
    width: $w;
    height: $h;
    overflow: $o;
  }
  
  @mixin margin($mt: null, $mb: null, $ml: null, $mr: null, $m: null) {
    margin-top: $mt;
    margin-bottom: $mb;
    margin-left: $ml;
    margin-right: $mr;
    margin: $m;
  }
  
  @mixin padding($pt: null, $pb: null, $pl: null, $pr: null, $p: null) {
    padding-top: $pt;
    padding-bottom: $pb;
    padding-left: $pl;
    padding-right: $pr;
    padding: $p;
  }
  
  @mixin border(
    $bt: null,
    $bb: null,
    $bl: null,
    $br: null,
    $bs: null,
    $bc: null,
    $bra: null,
    $bsd: null,
    $b: null
  ) {
    border: $b;
    border-top: $bt;
    border-bottom: $bb;
    border-left: $bl;
    border-right: $br;
    border-collapse: $bc;
    border-spacing: $bs;
    border-radius: $bra;
    box-shadow: $bsd;
  }
  
  @mixin bg(
    $c: null,
    $s: null,
    $img: null,
    $p: null,
    $r: null,
    $cl: null,
    $o: null,
    $bg: null,
    $op:1,
  ) {
    // background: $bg;
    background-color: $c;
    background: rgba($c,$op);
    background-size: $s;
    background-image: $img;
    background-position: $p;
    background-repeat: $r;
    background-clip: $cl;
    background-origin: $o;
  }
  
  @mixin pos($p: null, $l: null, $r: null, $t: null, $b: null, $z: null) {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
    z-index: $z;
  }
  // 包含transition和animate系列，
  @mixin animate($t: null) {
    transition: $t;
  }
  
  @mixin transform(
    $sx: null,
    $sy: null,
    $s: null,
    $tx: null,
    $ty: null,
    $t: null
  ) {
    transform: scaleX($sx);
    transform: scaleY($sy);
    transform: scale($s);
    transform: translateX($sx);
    transform: translateX($sy);
    transform: translate($s);
  }
  
  @mixin cursor($c: pointer) {
    cursor: $c;
  }

  @mixin ellispsis($n: 2) {
    overflow:hidden;
    text-overflow:ellispsis;
    display:-webkit-box;
    -webkit-line-clamp:$n;
    -webkit-box-orient:vertical;
    word-break: break-all;
  }
  @mixin ellispsis1() {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    word-break: break-all;
  }
  @mixin iconbtn($fs:12px,$w:20px,$h:20px,$bg:$theme,$c:#fff) {
    width: $w;
    height: $h;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bg;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.05);

    i {
      font-weight: 700;
      color: $c;
      font-size: $fs;
    }
  }